<h1> <%= question_header(@question) %> </h1>
<%= form_with model: [@test, @question], local: true do |form| %>
  <%= render 'shared/errors', resource: @question %>

  <div>
    <%= form.label :title %>
    <%= form.text_field :title, id: :title %>
  </div>

  <div class="submit"><%= form.submit %></div>
<% end %>