<div class="test_card_wrapper">
  <div>
    <span class="title">Title:</span>
    <%= @question.title %>
  </div>

  <div class="question_answers">
    <h2>Answers</h2>

    <%= link_to 'New answer', new_question_answer_path(@question), { class: "edit"} %>

    <div>
      <%= render @question.answers %>
    </div>
  </div>


  <div class="edit_button">
    <%= link_to 'Edit', edit_question_path(@question.id), { class: "edit"} %>
  </div>
</div>

<%= link_to 'Back', tests_path, { class: "back"} %>
