<%= form_with model: [@question, @answer], local: true do |form| %>
  <%= render 'shared/errors', resource: @answer %>

  <div>
    <%= form.label :title %>
    <%= form.text_field :title, id: :title %>
  </div>

  <div>
    <%= form.label :correct %>
    <%= form.check_box :correct, id: :correct %>
  </div>

  <div class="submit"><%= form.submit %></div>
<% end %>